* {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

html{
    max-width: 100%;
}

h3{
    font-size: 30px;
}

body {
    font-family: 'Exo 2', sans-serif;
    font-size: 30px;
    color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
    max-width: 100%;
    background: #000000;
}

header {
    background-image: url("images/head_bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 200px;
    font-family: 'Montserrat', cursive;
    padding-left: 0px;
}



img.avatar {
    width: 200px;
    height: auto;
    padding: 10px;
    border-radius: 50%;
}

.titlename {
    padding-top:35px;
    text-align: center;
    color: white;
    text-shadow: 3px 3px #000000;
    padding-left: 20px;
    font-size: 80px;
}

@media screen and (max-device-width: 1000px) {
    .titlename {
        font-size: 10vw;
    }
}

.subtitle {
    text-align: center;
    color: white;
    text-shadow: 3px 3px #000000;
    padding-left: 20px;
    font-size: 15px;
    padding-bottom: 35px;
}

@media screen and (max-device-width: 1000px) {
    .subtitle {
        font-size: 3vw;
    }
}

#navbar {
    background: #000000;
    height: 50px;
    overflow: hidden;
    background-color: black;
    display: block;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    z-index: 999;
    vertical-align: central;
    font-size: 12px;
}

@media screen and (max-device-width: 1000px) {
    #navbar {
        height: 70px;
    }
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + #aboutme {
    padding-top: 60px;
}

nav.bottombar {
    background: #000000;
    height: 50px;
    display: inline;
    
    text-align: center;
}

.highlink {
    color: white;
    padding: 0px;
    margin: 0px;
    border: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.highlink:hover {
    color: black;
    background-color: white;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.highlink:hover a {
    color: black;   
}


a.navbarlinks {
    display: inline-block;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 50px;
    padding-left: 2vw;
    padding-right: 2vw;    
}

@media screen and (max-device-width: 1000px) {
    a.navbarlinks {
        font-size: 30px;
        line-height: 70px;
    }
}


img.socials{
    height: 40%;
    width: 40px;   
    
}


a.navbarlinksimg {
    vertical-align: central;
    padding-left: 1vw;
    padding-right: 1vw;
    transform: translate(0,2px);
}

@media screen and (max-device-width: 1000px) {
    img.socials {
        height: 40%;
        width: 40px;
    }
}

a.navbarlinksimg:hover {
    filter: invert(100%);
}

.th a {
    display: block;
    text-decoration: none;
}


a.navbarlinks2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 50px;
    display: inline-block;
    
    width: 15%;
}

@media screen and (max-device-width: 1000px) {
    nav.bottombar {
        height: 80px;
    }
}

@media screen and (max-device-width: 1000px) {
    a.navbarlinks2 {
        font-size: 30px;
        display: inline-block;
        width: 18%;
        line-height: 80px;
    }
}

#bottoml {
    margin-top: 15px;
    background-color: white;
    border: solid;
    border-width: thin;
}


footer {
    background: #000000;
    color: white;       
}

.Site-content {
    background: black;
    margin-bottom: 2px;
    flex: 1;    
}

/* After this is the more specific classes*/

#aboutme {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: black;
    display: block;
    background-color: white;
    background-image: url("images/wrapper1.jpg"), linear-gradient(to right, #FFFFFF 62%, #BCC9BF 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

@media screen and (max-device-width: 1000px) {
    #aboutme {
        background-color: #FFFFFF;
        background-size: contain;
        background-position: bottom;
    }

    #aboutme:hover {
        background-color: #FFFFFF;
        background-size: contain;
        background-position: bottom;
    }
}

.blogpost {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: black;
    display: block;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    z-index: -2;
}

.blogpost:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000000;
    background: -moz-linear-gradient(left, #000000 50%, transparent 100%);
    background: -webkit-linear-gradient(left, #000000 50%, transparent 100%);
    background: linear-gradient(to right, #000000 50%, transparent 100%);
    z-index: -1;
}

.projectpost {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: black;
    display: block;
    background: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    z-index: 0;
    border-bottom-style: solid;
    border-width: 2px;
}


.projectpost:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #FFFFFF;
    background: -moz-linear-gradient(left, #FFFFFF 50%, transparent 100%);
    background: -webkit-linear-gradient(left, #FFFFFF 50%, transparent 100%);
    background: linear-gradient(to right, #FFFFFF 50%, transparent 100%);
    z-index: -1;
}

.projectpost:hover:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0.90);
    background: -moz-linear-gradient(left, rgba(255,255,255,0.90) 50%, rgba(0,0,0,0.40) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.90) 50%, rgba(0,0,0,0.40) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0.90) 50%, rgba(0,0,0,0.40) 100%);
    z-index: -1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#aboutme:hover {
    background-color: white;
    background-image: url("images/wrapper2.jpg"), linear-gradient(to right, #FFFFFF 64%, #B2BA94 100%);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.headtable{
    border-collapse:collapse;
}

.headtable tr {
    border-bottom: solid;
    border-bottom-width: thick;
}

.bullets {
    padding-left: 10%;
    padding-right: 10%;
    
}

.bullets li {
  padding-bottom: 2vw;
}

.Title {
    font-family: 'Exo 2', sans-serif;
    font-size: 30px;
    text-shadow: 3px 3px 1px #000000;
    color: white;
    background-color: #28041B;
    height: inherit;
    width:35%;
    padding: 20px;
}

.Aspirations {
    font-family: 'Exo 2', sans-serif;
    font-size: 25px;
    text-shadow: 3px 3px 1px #000000;
    color: white;
    height: auto;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.Aspirations div {
    padding-bottom: 2vw;
}

@media screen and (max-device-width: 1000px) {
    .Aspirations {
        font-size: 2vw;
    }
}

#sparetime {
    background-image: url("images/sparetime_bg.jpg");
    background-size: inherit;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Exo 2', sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: 3px 3px 2px #000000;
    display: block;
    height: auto;
    width: auto;
    padding-top: 40px;
    padding-bottom: 60px;
}


#Goals {
    font-family: 'Exo 2', sans-serif;
    font-size: 30px;
    color: white;
    background-color: black;
    height: auto;
    padding-top: 40px;
    padding-bottom: 60px;
}

#basesectdiv {
    font-family: 'Lato', sans-serif;
    margin: 3vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-right: 25%;
    max-width: 57%;
}

.blogtext {
    font-family: 'Lato', sans-serif;
    margin: 3vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-right: 25%;
    max-width: 57%;
    z-index: 99;
    color: white;
}

.projecttext {
    font-family: 'Lato', sans-serif;
    margin: 3vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-right: 25%;
    max-width: 57%;
    z-index: 99;
    color: black;
}

.fixedtext {
    width: 100vw;
    margin: auto;
    max-height: 35vw;
    white-space: initial;
    overflow: hidden;
    text-align: center;
    font-size: 30px;
}

.remainder {
    display: table;
    height: auto;
    max-width: 60%;
    margin: auto;
    font-size: 25px;
    padding-left: 10%;
    padding-right: 10%;
}

h2{    
    font-size: 50px;
}

li{
    text-align: left;    
}

.breakl{
    width: 1000px;    
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.break2 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

#contact{
    height: auto;
    color: white;
    text-align: center;
    margin-top: 1vw;
    font-size: 20px;
}

.portfoliosection{
    width: 30%;    
    display: inline-block;
    padding: 0px;
    margin: auto;
    border: 0px;
}

#margined{        
    display: table;
    width: 100%;
    vertical-align: top;
}

.projbox {
    display: inline-block;
    vertical-align: top;
    margin: auto;
    margin-bottom: 5px;
    background-size: cover;
    width: 200px;
    height: 200px;
    text-shadow: 2px 2px #000000;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.75);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.projbox h3 {
    height: inherit;
    width: inherit;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: no-content;
}

.projbox:hover {    
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#activeproject {
    display: flex;
    background-size:cover;
    margin: 2vw;
    padding: 0px;
    width: 92%;
    height: auto;
    max-height: 0;
    z-index: 2;
    overflow: hidden;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.9);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#activeprojecttext {
    margin: auto;
    text-shadow: 3px 3px #000000;
}
