* {
    padding: 0;
    margin: 0;

}

html{
    max-width: 100%;
}

body {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.8vw;
    color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
    max-width: 100%;
    background: #000000;
}

header {
    background-image: url("images/head_bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', cursive;
    padding-left: 0px;
}



img.avatar {
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 50%;
}

.titlename {
    text-align: left;
    color: white;
    text-shadow: 3px 3px #000000;
    padding-left: 20px;
    font-size: 80px;
}
.subtitle {
    text-align: left;
    color: white;
    text-shadow: 3px 3px #000000;
    padding-left: 20px;
    font-size: 15px;
}

#navbar {
    background: #000000;
    height: 50px;
    overflow: hidden;
    background-color: black;
    display: block;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    z-index: 999;
    vertical-align: central;
    font-size: 12px;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + #aboutme {
    padding-top: 60px;
}

nav.bottombar {
    background: #000000;
    height: 50px;
    display: inline;
    
    text-align: center;
}

.highlink {
    color: white;
    padding: 0px;
    margin: 0px;
    border: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.highlink:hover {
    color: black;
    background-color: white;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.highlink:hover a {
    color: black;   
}


a.navbarlinks {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

img.socials{
    height: 40px;
    width: 40px;   
    
}


a.navbarlinksimg {
    vertical-align: central;
    padding-left: 1vw;
    padding-right: 1vw;
    transform: translate(0,0.15vw);
}

a.navbarlinksimg:hover {
    filter: invert(100%);
}

.th a {
    display: block;
    text-decoration: none;
}


a.navbarlinks2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 50px;
    display: inline-block;
    
    width: 15%;
}

#bottoml {
    margin-top: 15px;
}


footer {
    background: #000000;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Site-content {
    background: black;
    flex: 1;
    margin: 0px;
}

/* After this is the more specific classes*/

#aboutme {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.8vw;
    color: white;
    display: block;
    background-image: url("images/AboutMeSect.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 5vw;
    overflow: auto;
}

#Aspirations {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.3vw;
    color: white;
    display: block;
    background-color: black;
    height: auto;
    width: auto;
    padding-bottom: 20px;
}

#sparetime {
    background-image: url("images/sparetime_bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.3vw;
    color: white;
    text-shadow: 2px 2px 2px #000000;
    display: block;
    height: auto;
    width: auto;
    padding-bottom: 20px;
}


#Goals {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.3vw;
    color: white;
    display: block;
    background-color: black;
    height: auto;
    width: auto;
    padding-bottom: 10px;
}

#basesectdiv {
    display: block;
    margin: auto;
    margin-bottom: 0px;
    width: 30vw;
    height: 0;
    padding-bottom: 30vw;
    background-color: rgba(0,0,0,0.5);    
}

.basesecttex {
    padding: 10px;
    margin: 10px;
    font-size: 1.75vw;
}

.remainder {
    display: inline-block;
    height: auto;
    width: 60vw;
    transform: translate(35vw, 0);
    margin: auto;
    font-size: 1.5vw;
}
.remainder2 {
    display: inline-block;
    height: auto;
    width: 60vw;
    transform: translate(23vw, 0);
    margin: auto;
    font-size: 1.5vw;
}

h2{
    padding-top: 10px;
}

li{
    text-align: left;    
}

.breakl{
    width: 50vw;
    transform: translate(25vw,0);
    margin: 20px;
}

.break2 {
    width: 50vw;
    transform: translate(25vw,0); 
    margin: 20px;
}

#contact{
    height: auto;
    color: white;
    text-align: center;
    margin-top: 1vw;
}