* {
    padding: 0;
    margin: 0;
}

html{
    max-width: 100%;
}

body {
    font: 12px arial;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

header {
    background-image: url("images/head_bg.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', cursive;
    padding-left: 0px;
}



img.avatar {
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 50%;
}

.titlename {
    text-align: left;
    color: white;
    text-shadow: 3px 3px #000000;
    padding-left: 20px;
    font-size: 80px;
}

nav {
    background: #000000;    
    height: 50px;
    
}
nav.bottombar {
    background: #000000;
    height: 50px;
    display: inline;
    
    text-align: center;
}


a.navbarlinks {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 50px;
    padding-left: 40px;
    padding-right: 40px;   
}

a.navbarlinks2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 50px;
    display: inline-block;
    
    width: 15%;
}


footer {
    background: #000000;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Site-content {
    flex: 1;
}

/* After this is the more specific classes*/

#aboutme {
    font-family: 'Exo 2', sans-serif;
    font-size: 2vw;
    color: white;
    display: block;
    background-image: url("images/AboutMeSect.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
    overflow: auto;
}

#Aspirations {
    font-family: 'Exo 2', sans-serif;
    font-size: 2vw;
    color: white;
    display: block;
    background-image: url("images/AboutMeSect.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
    overflow: auto;
}

.basesectdiv {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 30vw;
    height: 30vw;
    background-color: rgba(0,0,0,0.5);
    
}

.basesecttex {
    padding: 10px;
    margin: 10px;
}